main {
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
}

input, .selection, #main_button {
	border: none;
	outline: none;
	color: var(--text-color);
	border-radius: 35px;
	height: 35px;
	background-color: var(--foreground-color);
}

.selection {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 80px;
	margin-bottom: 30px;
}

.selection button {
	flex: 1;
	background-color: transparent;
	border: none;
	color: var(--text-color);
	padding: 0;
	border-radius: 35px;
}

.selection button:hover {
	/* border: 2px solid var(--text-color); */
	text-decoration: underline;
}

input {
	width: calc(100% - 17.5px);
	padding-left: 17.5px;
	margin-bottom: 10px;
}

#main_button {
	display: block;
	width: 150px;
	margin: 20px auto;
}

#login_info {
	display: block;
	margin-top: 50px;
	text-align: center;
	user-select: all;
}

#main_button:hover {
	border: 2px solid var(--text-color);
}

main[data-loggedin="true"] #login,
main[data-loggedin="true"] #register,
main[data-loggedin="false"] #reset_pw,
main[data-loggedin="false"] #logout {
	display: none;
}


main[data-type="login"] #login,
main[data-type="register"] #register,
main[data-type="generate"] #generate,
main[data-type="reset_pw"] #reset_pw,
main[data-type="logout"] #logout {
	background-color: var(--text-color);
	color: var(--foreground-color);
}

.login, .register, .generate, .reset_pw {
	display: none;
}

main[data-type="login"] .login,
main[data-type="register"] .register,
main[data-type="generate"] .generate,
main[data-type="reset_pw"] .reset_pw {
	display: block;
}